<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AndOneConstructionsMySqlConnection" connectionString="server=d93ab522-6908-4034-9827-a396016feca4.mysql.sequelizer.com;database=dbd93ab522690840349827a396016feca4;uid=omuysinjdtwtmbue;pwd=dxSZ7cUWJ7q7PYXKxv855mVAWi62K6nPRDGdbBzERbvUeHQq6qvhd2oYKqdWe3kL" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>